{% extends 'base.html.twig' %}
{% block body %}
    {% set basket_recipes = app.session.get('basket') %}
    {{ dump(app.session.get('basket')) }}

    {% if basket_recipes is null %}
        <p> you have no recipes in your basket </p>
    {% else %}
        <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Title</th>
            <th>Summary</th>
            <th>State</th>
            <th>Vote</th>
            <th>Ingredient</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

            {% for recipe in basket_recipes %}

            <tr>
                <td><a href="{{ path('recipe_show', { 'id': recipe.id }) }}">{{ recipe.id }}</a></td>
                <td>{{ recipe.user.username }}</td>
                <td>{{ recipe.title }}</td>
                <td>{{ recipe.summary }}</td>
                <td>{{ recipe.state }}</td>
                <td>{{ recipe.vote }}</td>
                <td>{{ recipe.ingredient }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recipe_show', { 'id': recipe.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('basket_delete', { 'id': recipe.id }) }}">remove</a>
                        </li>
                    </ul>
                </td>
            </tr>

            {% endfor %}
        </tbody>
        </table>

    {% endif %}
    <p>
        <a href="{{ path('basket_clear') }}">CLEAR all items in basket</a> </p>

{% endblock %}