{% extends 'base.html.twig' %}

{% block body %}
    <h1>Step</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ step.id }}</td>
            </tr>
            <tr>
                <th>Step1</th>
                <td>{{ step.step1 }}</td>
            </tr>
            <tr>
                <th>Step2</th>
                <td>{{ step.step2 }}</td>
            </tr>
            <tr>
                <th>Step3</th>
                <td>{{ step.step3 }}</td>
            </tr>
            <tr>
                <th>Step4</th>
                <td>{{ step.step4 }}</td>
            </tr>
            <tr>
                <th>Step5</th>
                <td>{{ step.step5 }}</td>
            </tr>
            <tr>
                <th>Step6</th>
                <td>{{ step.step6 }}</td>
            </tr>
            <tr>
                <th>Step7</th>
                <td>{{ step.step7 }}</td>
            </tr>
            <tr>
                <th>Step8</th>
                <td>{{ step.step8 }}</td>
            </tr>
            <tr>
                <th>Step9</th>
                <td>{{ step.step9 }}</td>
            </tr>
            <tr>
                <th>Step10</th>
                <td>{{ step.step10 }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('steps_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('steps_edit', { 'id': step.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
